{% load staticfiles %}
<html>
  <head>
    <title>{{ title }} | Anansi</title>
    <link rel="stylesheet" type="text/css" href="{% static anansi/js/jquery-ui-themes/smoothness/jquery-ui.min.css %}" />
    <link rel="stylesheet" type="text/css" href="{% static anansi/js/jquery-ui-themes/smoothness/theme.css %}" />
    <link rel="stylesheet" type="text/css" href="{% static anansi/css/main.css %}" />
    <script type="text/javascript" src="{% static anansi/js/jquery2.min.js %}" />
    <script type="text/javascript" src="{% static anansi/js/jquery-migrate.min.js %}" />
    <script type="text/javascript" src="{% static anansi/js/jquery-ui/jquery-ui.min.js %}" />
    {% extrahead %}
  </head>
  <body>
    <div id="page">
      <div id="header">

      </div>
      <div id="main">
        
      </div>
    </div>
  </body>
</html>
